body {
    margin: 0;
    text-align: center;
    background: linear-gradient(90deg, #4fdb5d, #70c5ce );
    
  }
  header {
    margin: 0 auto;
    width: 431px;
  }
  .title {
    color: #f7be05;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Press Start 2P', cursive;
  }
 